certifi==2018.8.24
cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==2.2.3
mkl-fft==1.0.4
mkl-random==1.0.1
networkx==2.1
numpy==1.15.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
sip==4.19.12
six==1.11.0
tornado==5.1
wincertstore==0.2
